{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "ignores"
      ]
    }],
    "indentation": 2,
    "number-leading-zero": null,
    "unit-whitelist": ["px", "em", "%", "rem", "ms", "s", "vh"],
    "block-no-empty": null,
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
  }
}
